<h2>Group Assignees</h2>

<%if @assignees != nil %>
<div style="border: solid; width: 50% ; padding: 1em; margin-left:45%" >
<form action="add_assignee">
  <h3>Add assignee:</h3>
  <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Group:</b> <input name="group_name"> <br>
  <b>User Login:</b> <input name="user_login"></br>
  <input type="submit" value="Add">
</form>
</div>

<div style="margin-top: -9em">
<table>
  <tr> <th> Group </th><th> Assignee </th> <th> </th></tr>
  <% @assignees.each do |assignee| %>
    <tr> 
      <td> 
        <a href="./assignee_show_group?group_name=<%=assignee.group.name%>">
          <%= assignee.group.name %> 
        </a>
      </td>
      <td> <%= assignee.user.login %> (<%= assignee.user %>)</td>
      <td class="icon icon-del" > <a href="./del_assignee?user_login=<%=assignee.user.login%>&group_name=<%=assignee.group.name%>">Delete</a>
    </tr>
  <% end %>
</table>
</div>
<% end %>
